.exemple-link-icon {
    color: #505050; 
    margin-right: 6px;
    font-size: 13px;
  }

  .field__item__example {
    margin: 3px 0 2px 0;
}

.field__item__example a {
    font-size: 13px;
    line-height: 1.2;
}

.node-short-description {
    font-size: 20px;
}

.source-url div {
    display: inline-block;
    padding-bottom: 20px;
}

.taxo-row div {
    display: inline-block;
    margin-bottom: 0px;
}

.col-listings-grid {
    position: relative;
    padding: 12px;
}

.listings-title {
    
    background-color: #ffffff99;
    width: 100%;
    height: 50px; 
    font-weight: 600;
    text-align: center;
    bottom: 0px;
    left: 0px;
    position: absolute;
}   

.listings-teaser-img {
    
}

.main-content__section
{
    padding: 60px 0 130px;
}

.breadcrumb
{
    height: 40px;
}

.breadcrumb__item
{
    line-height: 40px;
    padding: 0 5px;
}

.main-listing .form-select {
    border-color: #ffffff;
    background-color: #ffffff;
    padding-right: 23px;
}

.row-examples 
{
    display: flex;
    flex-wrap: wrap;
}

.example-item {
margin-bottom: 35px;
}

.collections-row div {
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 5px;
    }

.field--name-field-project-images div {
    margin-top: 15px;
}

.title-separator {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 10px;
}

.col-md-12 h2.title {
    padding-bottom: 10px;
}

.blog-item-title {
    width: 1000px;
}

.blog-row .views-field-field-collection-teaser-image {
    display: inline-block;
}

.blog-row .views-field-body {
    display: inline-block;
    width: 700px;
    padding: 12px;
}

.blog-row {
    margin-bottom: 80px;
}

.site-slogan {
    letter-spacing: 0.21em;
    font-size: 11px;
}

.site-name a {
    font-size: 31px;
}

.header__container {
    padding: 10px 0;
}

.region-header {
    padding-top: 10px;
}

.logo {
    padding: 10px 0;
}

.style-characteristic {
    line-height: 2;
}

.style-summary {
    margin-top: 20px;
    display: inline-block;
    margin-left: 5px;
}

.form-item, .form-actions {
    margin: 0px;
}

.view-filters {
    text-align: center;
}

.form--inline {
    display: inline-block;
}

.form-actions {
    display: inline-block;
}

.main-listing .button {
    background-color: #ffffff;
    padding: 15px 23px 15px 8px;
    color: #9c9c9c;
    background-image: linear-gradient(transparent, transparent), url(../../images/cross-black.png);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: 98.5% 50%;
}

.headings-wide-spacing-enabled input[type="submit"] {
    letter-spacing: normal;
    text-transform: none;
}

input[type="submit"] + input[type="submit"], .button + .button {
    margin-left: 0px;
}

.main-listing .select {
    padding: 10px 10px;
}

select option:focus {
    background-color: #2d2d2d;
  }