.exemple-link-icon {
    color: #505050; 
    margin-right: 6px;
    font-size: 13px;
  }

  .field__item__example {
    margin: 3px 0 2px 0;
}

.field__item__example a {
    font-size: 13px;
    line-height: 1.2;
}

.node-short-description {
    font-size: 20px;
}

.taxo-row div{
	display: inline-block;
}
