.exemple-link-icon {
    color: #505050; 
    margin-right: 6px;
    font-size: 13px;
  }

  .field__item__example {
    margin: 3px 0 2px 0;
}

.field__item__example a {
    font-size: 13px;
    line-height: 1.2;
}

.node-short-description {
    font-size: 20px;
}

.source-url div {
    display: inline-block;
    padding-bottom: 20px;
}

.taxo-row div {
    display: inline-block;
    margin-bottom: 0px;
}

.views-view-grid .views-col {
    position: relative;
    padding: 12px;
}

.listings-title{
    
    background-color: #ffffff99;
    width: 100%;
    height: 50px; 
    font-weight: 600;
    text-align: center;
    bottom: 0px;
    left: 0px;
    position: absolute;
}   

.listings-teaser-img {
    
}

.main-content__section
{
    padding: 60px 0 130px;
}

.breadcrumb
{
    height: 40px;
}

.breadcrumb__item
{
    line-height: 40px;
    padding: 0 5px;
}

.main-listing .form-select {
    border-color: #ffffff;
    background-color: #ffffff;
}

.row-examples 
{
    display: flex;
    flex-wrap: wrap;
}

.example-item {
margin-bottom: 35px;
}

.collections-row div {
    display: inline-block;
    padding-bottom: 20px;
    padding-right: 5px;
    }

.field--name-field-project-images div {
    margin-top: 15px;
}

.title-separator {
    margin-top: 60px;
    text-align: center;
    padding-bottom: 10px;
}

.col-md-12 h2.title {
    padding-bottom: 10px;
}